body {
  width: 200px;
  height: 350px;
  padding: 0;
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.container {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 5;
}